<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>她记——————分类管理页面</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">


    <!--引入css-->
    <link rel="stylesheet" href="../css/classifyManagement.css">

    <script src="http://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<!--需求：
    1.显示已有的分类 并且可以实现增删改查
    2.可以添加新的分类-->
<div id="app">
    <div class="classifyBox">
        <div>
            <button class="addClassifyBtn" @click="addClassify">添加我的分类</button>
        </div>
        <div id="addBox">
            <el-dialog
                    title="添加分类"
                    :visible.sync="addDialogVisible"
                    width="30%">
                <div class="classifyDialog">
                    分类<el-input
                            placeholder="请输入内容"
                            v-model="nameIn"
                            clearable>
                    </el-input>
                    颜色<el-input
                            placeholder="请输入内容"
                            v-model="colorIn"
                            clearable>
                        </el-input>
                    状态
                    <el-select v-model="stateValue" placeholder="请选择状态">
                        <el-option
                                v-for="item in stateOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </div>
                <span slot="footer" class="dialog-footer">
                <el-button @click="addDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="addBtn">确 定</el-button>
                </span>
            </el-dialog>
        </div>
        <div class="classifyMain">
            <el-table
                    :data="classifyTableData"
                    ref="multipleTable"
                    border
                    stripe
                    style="width: 100%"
                    :header-cell-style="{textAlign: 'center',background:'#99cdaa',color:'black'}"
                    :cell-style="{ textAlign: 'center' }">
                <el-table-column
                        prop="classifyName"
                        label="分类"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="classifyColor"
                        label="颜色"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="classifyNum"
                        label="日记数">
                </el-table-column>
                <el-table-column
                        prop="classifyState"
                        label="状态">
                </el-table-column>
                <el-table-column prop="classifyModify"
                                 label="操作">
                    <template slot-scope="scope">
                        <el-button
                                size="mini" @click="editClick">编辑
                        </el-button>
                        <el-popover width="160" :ref="`popover-${scope.$index}`">
                            <p>确定删除吗？</p>
                            <div style="text-align: right; margin: 0">
                                <el-button size="mini" type="text" @click="handleClose(scope.$index)">取消</el-button>
                                <el-button type="primary" size="mini" @click="handleClose(scope.$index)">确定</el-button>
                            </div>
                            <el-button size="mini" slot="reference" type="danger">删除</el-button>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table>






            <el-dialog
                    title="编辑分类"
                    :visible.sync="editDialogVisible"
                    width="50%"
                   >
                分类<el-input
                        v-model="classify.name"
                        clearable>
                </el-input>
                颜色
                <el-input
                        v-model="classify.color"
                        clearable>
                </el-input>
                日记数
                <el-input
                        v-model="classify.diaryNum"
                        :disabled="true">
                </el-input>
                状态
                <el-select v-model="stateValue" placeholder="请选择状态">
                    <el-option
                            v-for="item in stateOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>

                <span slot="footer" class="dialog-footer">
                <el-button @click="editDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="editSureClick">确 定</el-button>
                 </span>
            </el-dialog>
        </div>
    </div>

</div>
<!--引入js-->
<script type="text/javascript" src="../js/classifyManagement.js"></script>

</body>
</html>