
body {
    /*background-color: #8e8f8d;*/
    background-image: url(../images/lightpaperfibers.png);
}

.is-selected {
    color: #1989FA;
}

.showCalendar {
    width: 60%;
    /*height: 500px;*/
    margin: 100px auto;
}
#showDiary
{
    width: 60%;
    /*height: 500px;*/
    margin: -50px auto;
    background: coral;
    /*border: 1px solid black;*/
    /*text-align: center;*/
}
.show_div
{
    width: 100%;
    min-height: 100px;
    margin-bottom: 20px;
}
#dataP
{
    text-align: center;
    height: 85px;
    line-height: 85px;
    margin: 0 !important;
}
#dataP .is-selected
{
    text-align: center;
    height: 85px;
    line-height: 85px;
    margin: 0 !important;
}
.el-calendar-day
{
    width: 100%;
    display: inline-block;
    margin: 0!important;
    padding: 0!important;
}
.el-calendar-day,
.posBox
{
    width: 100%;
    display: inline-block;
    margin: 0!important;
    padding: 0!important;
}