<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>她记————登录注册页面</title>
    <link rel="stylesheet" href="fonts/loginFonts/iconfont.css">
    <link rel="stylesheet" href="fonts/loginFonts/iconfont_go.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <script type="text/javascript" color="0,205,205" opacity='0.7' zIndex="-2" count="99"
            src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>



    <!--引入css-->
    <link rel="stylesheet" href="css/account.css">


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>

</head>
<body>
<div id="app">



    <div class="mainBox">
        <div class="TaTitle">
            <h1>她记</h1>
            <h4>记录点点滴滴</h4>
        </div>


        <div class="btnBox">
            <button class="loginBtn" @click="login" id="loginBtn1" style="border-bottom: 2px solid #99cdaa">登录</button>
            <button class="registerBtn" @click="register" id="registerBtn1"> 注册</button>
        </div>

        <!-- 登录模块-->
        <div class="loginbox" v-if="show_loginbox">
            <div class="login_context">
                <form @submit.prevent="onLoginSubmit" method="post">
                    <div class="loginBox">
                        <div>
                            <i class="iconfont icon-youxiang"></i>
                            <input type="text" class="emailIn" id="email" @change="checkUserEmail" v-model="userEmail"
                                   placeholder="输入邮箱账号">

                        </div>

                        <div>
                            <i class="iconfont icon-mima"></i>
                            <input type="password" class="pwdIn" id="pwd" @change="checkUserpwd" v-model="passWord"
                                   placeholder="输入密码">

                        </div>
                    </div>
                    <el-button native-type="submit" id="linbtn" type="primary">登录</el-button>
                </form>
                <div class="bottom">
                    <button class="registerNum" @click="register">注册账号</button>
                    <button class="forgetPwd" @click="forgetPwdClick">忘记密码</button>
                </div>
            </div>

            <el-dialog
                    title="忘记密码"
                    :visible.sync="forgetPwdDialogVisible"
                    width="40%">
                <div>
                    <el-steps :active="forgetActive" >
                        <el-step title="输入邮箱"></el-step>
                        <el-step title="设置新密码"></el-step>
                        <el-step title="设置成功"></el-step>
                    </el-steps>
                    <div class="fEmail" style="margin-top: 30px" v-show="forgetActive==1">
                        <el-input
                                placeholder="请输入邮箱账号"
                                v-model="forgetEmail"
                                clearable>
                        </el-input>
                        <el-button class="nextBtn1" @click="pwdNextClick">下一步</el-button>
                    </div>


                    <div  id="forgetPwdBox" v-show="forgetActive==2" style="margin-top: 30px" >
                        <el-input
                                placeholder="请输入密码"
                                v-model="forgetPwd"
                                clearable>
                        </el-input>
                        <el-input
                                placeholder="请再次输入密码"
                                v-model="forgetRPwd"
                                clearable>
                        </el-input>
                        <div class="pwdBox">
                            <div class="posPwdBox">
                                <el-button  class="nextBtn" style="margin-top: 12px;" @click="pwdNextClick">保存</el-button>
                                <el-button class="nextBtn" style="margin-top: 12px;" @click="pwdBeforeClick">上一步</el-button>
                            </div>

                        </div>

                    </div>
                    <div v-show="forgetActive==3" style="margin-top: 30px" >
                        <span style="font-size: 20px">修改成功,快去登录吧！！下次别忘记了</span>
                       <el-button @click="forgetLogin" type="text"><i class="iconfont icon-go"></i></el-button>
                    </div>
                </div>
            </el-dialog>

        </div>


        <!-- 注册模块-->
        <div class="registerbox" v-if="show_registerbox">
            <div class="register_context">
                <form @submit.prevent="onRegisterSubmit" method="post">
                    <div class="regBox">
                        <div>
                            <i class="iconfont icon-youxiang"></i>
                            <input type="text" class="rEmailIn " id="Remail" @change="checkRUserEmail"
                                   v-model="RuserEmail" placeholder="输入邮箱账号">
                        </div>
                        <div>
                            <i class="iconfont icon-zhanghu"></i>
                            <input type="text" class="rName" id="name" @change="checkRUserName" v-model="RuserName"
                                   placeholder="输入昵称">
                        </div>
                        <div>
                            <i class="iconfont icon-mima"></i>
                            <input type="password" class="rPwdIn " id="rpwd" @change="checkRUserpwd" v-model="RpassWord"
                                   placeholder="输入密码">
                        </div>
                        <div>
                            <i class="iconfont icon-mima"></i>
                            <input type="password" class="rRPwdIn" @change="checkPassConsistency" v-model="RRpassWord"
                                   placeholder="再次输入密码">

                        </div>

                    </div>

                    <BR><input type="submit" value="注册" id="regisbtn"><BR>
                </form>
                <p>注册即代表您同意她记的用户条款</p>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="js/account.js"></script>

</body>
</html>