<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>她记——主页面</title>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="fonts/loginFonts/iconfont.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        ::-webkit-scrollbar{
            display: none;
            width: 0;
        }
        a{
            text-decoration: none;
        }
        html, body, #app, .el-container {
            /*设置内部填充为0，几个布局元素之间没有间距*/
            padding: 0;
            /*外部间距也是如此设置*/
            margin: 0;
            /*统一设置高度为100%*/
            height: 100%;
        }

        .el-header {
            background-color: #B3C0D1;
            color: #333;

        }

        .el-aside {
            background-color: transparent;
            text-align: center;
        }

        .el-main {
            background-color: transparent;
            color: #333;
        }

        /*去除input的轮廓线*/
        input {
            outline: none;
        }

        /*防止文本欲拖拽*/
        textarea {
            resize: none;
            outline: none; /*去除轮廓线*/
        }

        .icon-hengdengyu {
            font-size: 40px;
        }

        .personalBtn /*个人中心按钮*/
        {
            position: fixed;
            left: 2px;
            top: -2px;
            background-color: transparent;
        }

        .addDiaryBtn /*添加日记按钮*/
        {
            position: fixed;
            right: 10px;
            bottom: 10px;
            font-size: 40px;
        }

        .header {
            /*height:50px;*/
            width: 100%;
            /*height: 200px;*/
            background-color: #99cdaa;
        }

        .addBox /*添加日记*/
        {
            width: 80%;
            margin: 0 auto;
            border: 1px solid #99cdaa;
        }

        .allClassifyBtn {
            margin-top: 10px;
            margin-left: 100px;
        }

        .classifyBtn {
            margin-left: 100px;
        }

        span {
            font-size: 30px;
            vertical-align: center;

        }

    </style>
    <script src="http://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
<div id="app">
    <!--    :direction="direction"控制显示方向 rtl / ltr / ttb / btt-->
    <!--    添加日记折叠框-->
    <el-drawer
            title="添加日记"
            :size="'600px'"
            :visible.sync="addDrawer"
            direction="btt">
        <div class="addBox">
            <div>
                <span>分类:</span>
                <el-select v-model="kindValue" clearable placeholder="请选择分类">
                    <el-option
                            v-for="item in kindOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
                <el-button type="text" icon="el-icon-circle-plus-outline">
                </el-button>
            </div>
            <span>颜色:</span>
            <input type="color" id="selectedColor"><br>
            <span>字体:</span>
            <input type="range" id="selectedFont">
            <div>
                <span>天气:</span>
                <el-select v-model="weatherValue" clearable placeholder="请选择天气">
                    <el-option
                            v-for="item in weatherOptions"
                            :key="item.value"
                            :label="item.label"
                            :value="item.value">
                    </el-option>
                </el-select>
            </div>
            <span>日期:</span>
            <el-date-picker
                    v-model="dataValue"
                    align="right"
                    type="date"
                    placeholder="选择日期">
            </el-date-picker>
            <span>谁可以看:</span>
            <el-select v-model="checkPeoValue" clearable placeholder="请选择可查看的人">
                <el-option
                        v-for="item in checkPeoOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
            <!--添加日记文本内容-->
            <el-input
                    class="addTextArea"
                    type="textarea"
                    placeholder="请输入日记内容"
                    maxlength="500"
                    :rows="10"
                    show-word-limit
                    v-model="textarea1">
            </el-input>
            <button id="publishBtn" @click="Publish">发布</button>
        </div>
    </el-drawer>

    <!--个人中心折叠框-->
    <el-drawer class="personalDrawer"
               :size="'300px'"
               :visible.sync="personalDrawer"
               direction="ltr">
        <div>
            <span>{{welcomeUser}}</span><!--欢迎用户-->
            <!--个人中心折叠框中的个人中心页面-->
            <a href="person.html" target="_blank">个人中心</a>
            <!--个人中心折叠框中的管理分类-->
            <a href="classifyManagement.html"  target="_blank">管理分类</a>

            <button @click="exit">退出登录</button>
        </div>
    </el-drawer>
    <!--饿了么布局容器框架 头中右布局-->
    <el-container>
        <!--头部   包括个人中心按钮  两个div 一个全部 一个分类之后的-->
        <el-header class="header" height="''">

            <div>
                <el-button class="personalBtn" @click="personalDrawer = true" type="text">
                    <i class="iconfont icon-hengdengyu"></i>
                </el-button>
            </div>

            <!--全部-->
            <div class="allClassifyBtn">
                <el-radio v-model="radio" label="1">全部({{allDiaryMsg}})</el-radio>
                <el-radio v-model="radio" label="2">未分类({{nonDiaryMsg}})</el-radio>
            </div>
            <!-- 分类-->
            <div class="classifyBtn">
                <!--动态生成radio   这里还有点问题 单选一选会把单选按钮都选上 不互斥了-->
                <el-radio-group v-model="classifyValue">

                        <el-radio
                                :label="index"
                                v-for=" (item,index) in classifyList" >
                            {{item.classifyName}}({{item.value}})
                            <!--前者是分类的名字 后者是对应的数量-->
                        </el-radio>

                </el-radio-group>

            </div>

        </el-header>
        <!--中间显示日记内容部分-->
        <el-container>

            <el-main >
                <!-- 目前暂时通过按钮来实现动态增加div 后期会放入watch还是computer里面-->
                <div id="move" >

                </div>
            </el-main>


            <!--右边那个添加日记+按钮 占浏览器右边50px宽-->
            <el-aside width="50px">
                <el-button class="addDiaryBtn" @click="addDrawer = true" type="text" icon="el-icon-circle-plus-outline">
                </el-button>
            </el-aside>
        </el-container>

    </el-container>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data() {
            return {

                // 该用户所有的分类，默认第一个为 未分类
                userClassify: [],

                //该用户的所有日记 按事件分类
                userDiary: [],

                //当前界面上浏览的列表
                diaryList: [],

                // -------这是一个分割线-------

                welcomeUser: '',//个人中心欢迎你获取用户名
                personalDrawer: false,//个人中心折叠框
                addDrawer: false,//添加日记折叠框
                textarea1: '',//添加日记加的日记内容
                radio: '1',
                allDiaryMsg: '1',//全部日记数量
                nonDiaryMsg: '1',//未分类日记数量
                classifyList: [
                    {
                        value: '12',
                        classifyName: '旅行',
                    },
                    {
                        value: '13',
                        classifyName: '心情',
                    },
                    {
                        value: '14',//此项分类的数量
                        classifyName: '计划',
                    },

                ],
                classifyValue: '',
                kindOptions: [
                    {
                        //添加日记中 分类的下拉列表框 需要给这样的数组
                        value: '选项1',// 值改成 用户分类的id
                        label: '旅游',
                        state:0,
                        kindColor:'#ffff',
                    },
                    {
                        value: '选项2',
                        label: '心情',
                        state:0,
                        kindColor:'#ffff',
                    },
                    {
                        value: '选项3',
                        label: '计划',
                        state:0,
                        kindColor:'#ffff',
                    },
                    {
                        value: '选项4',
                        label: '与男友的事',
                        state:0,
                        kindColor:'#ffff',
                    },
                    {
                        value: '选项5',
                        label: '。。。',
                        state:0,
                        kindColor:'#ffff',
                    }],
                kindValue: '',//添加日记选中的分类的value

                weatherOptions: [{////添加日记中 天气的下拉列表框 需要给这样的数组
                    value: '选项1',
                    label: '晴天'
                }, {
                    value: '选项2',
                    label: '多云'
                }, {
                    value: '选项3',
                    label: '下雨'
                },],
                weatherValue: '',
                dataValue: '',

                checkPeoOptions: [
                    {//添加日记中 查看权限的下拉列表框 需要给这样的数组
                        value: '选项1',
                        label: '小王'
                    },
                    {
                        value: '选项2',
                        label: '小李'
                    },
                    {
                        value: '选项3',
                        label: '小张'
                    }],
                checkPeoValue: '',


                brandFold: true,
            }
        },

        created() {
            this.welcomeUser = sessionStorage.getItem("name");
            // 刚开始 从后台获取该用户的所有日记信息
            // 先拿所有分类信息 然后根据分类信息 拿到每个分类下的日记
            this.getClassify();
            this.getUserDiary();
            //this.addElement();


        },
        methods: {
            //版面中间 动态生成div 从后端拿到日记内容 并一左一右显示
            addElement: function () {
                /*
                 后端传来的所有日记数据保存在 diaryList （数组）中， 这个变量我这边建了 但是你那边没有
                 {
                    "classifyColor":"#3f3f3f3f", // 分类颜色
                    "classifyFlag":false, // 该分类是否公开 0-公开 1-私密
                    "classifyId":1, // 分类的id
                    "classifyName":"未命名", // 分类的名字
                    "diaryFlag":false, // 当前日记是否公开 0-公开 1-私密
                    "diaryId":1," // 日记编号
                    "diaryText":"这是一个未公开的日记", // 日记内容
                    "diaryTime":{
                        "date":13,"day":0,"hours":10,"minutes":45,
                        "month":11,"nanos":0,"seconds":45,
                        "time":1607827545000,"timezoneOffset":-480,"year":120},
                        // 一个类型为TimeStamp的时间变量 这个还需要转处理一下 再等等
                    "diaryWeather":1 // 当前天气 0-晴天 1-多云 2-雨天
                   }
*/


                // alert(this.diaryList.length);
                for (let i = 0; i < this.diaryList.length; i++) {
                    //   alert(i);
                    if (i % 2 === 0)//偶数 显示在左边
                    {
                        let div = document.createElement('div');
                        div.style.backgroundColor = 'red';
                        div.style.width = '50%';
                        div.style.float = 'left';
                        // 放日记主体text
                        //div.innerHTML = '{{左边}}';
                        div.innerHTML = this.diaryList[i].diaryText;

                        div.id = 'Elem' + i;
                        div.style.minHeight = "100px";
                        document.getElementById('move').appendChild(div);

                        let div2 = document.createElement('div');
                        div2.style.backgroundColor = '﻿#00A4FF';
                        div2.style.width = '50%';
                        div2.style.float = 'right';
                        div2.innerHTML = '{{占位2}}';
                        div2.id = 'Ele' + i;
                        div2.style.minHeight = "100px";
                        document.getElementById('move').appendChild(div2);

                    } else {
                        let div1 = document.createElement('div');
                        div1.style.backgroundColor = 'green';
                        div1.style.width = '50%';
                        div1.style.float = 'right';
                        //div1.innerHTML = '{{右边}}';
                        div1.innerHTML = this.diaryList[i].diaryText;
                        div1.id = 'Elem' + i;
                        div1.style.minHeight = "100px";
                        document.getElementById('move').appendChild(div1);


                        let div3 = document.createElement('div');
                        div3.style.backgroundColor = '﻿﻿#fec374';
                        div3.style.width = '50%';
                        div3.style.float = 'left';
                        div3.innerHTML = '{{占位3}}';
                        div3.id = 'Ele' + i;
                        div3.style.minHeight = "100px";
                        document.getElementById('move').appendChild(div3);
                    }
                }
            },


            // 提取 该用户 所有分类 并 统计 每一个分类 所拥有的日记数量
            // 提取 该用户 所有的 相关日记 按 创建日期排列
            // 点击 分类 显示 该分类下的日记 按创建事件排列
            getClassify: function () {
                var self = this;
                axios({
                    url: 'getClassify.do',
                    methods: 'post',
                }).then(function (response) {
                    if (response.data == "error") {
                        // session 中没有用户id
                        // 此时应该返回登陆界面重新登陆

                    } else {
                        self.userClassify = response.data;

                    }
                }).catch(function (error) {
                    alert(error);
                })
            },

            // 获得用户的所有日记
            getUserDiary: function () {
                const self = this;
                axios({
                    url: 'getUserDiary.do',
                    methods: 'post'
                }).then(function (response) {
                    if (response.data == "error") {
                        // session 中没有用户id
                        // 此时应该返回登陆界面重新登陆
                    } else {
                        self.diaryList = self.userDiary = response.data;
                        self.addElement();// 得到日记记录后 更新ui
                    }

                }).catch(function (error) {
                    alert("axios error");

                })
            },


            // 从usrDiary中筛选出相关的列表 呈现在界面上
            getDiaryList: function (classifyId) {
                this.diaryList = [];
                if (classifyId != 0) { // 用户特色分类
                    for (var i = 0; i < this.userDiary.length; i++) {
                        if (this.userClassify[i].cid == classifyId) {
                            this.diaryList.add(this.userDiary[i]);
                        }
                    }
                } else {// 全部
                    this.diaryList = this.userDiary;
                }
            },
            Publish:function()
            {},
            /*
            // 还没写完
            // 右下角添加日记的发布按钮
            Publish: function () {
                let self = this;
                alert(self.kindValue);
                let selectedColor = document.getElementById('selectedColor').value;
                let selectedFont = document.getElementById('selectedFont').value;
                // self.weatherValue
                const time = new Date().getTime();
                //alert(time);
                // self.checkPeoValue
                alert(self.textarea1)

                axios({
                    url: '',
                    methods: 'post',
                    data: {
                        'classifyId': self.kindValue,
                    }
                }).then(function (response) {

                }).catch(function (error) {
                    alert(error);
                })
            },*/



            exit: function () {
                axios({
                    url: '',
                    methods: 'post'
                }).then(function (response) {

                }).catch(function (error) {

                })
            },


        },
    })
</script>
</body>

</html>

